@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

html, body {
    height: 100%;
}


body{
    background-color: #161a1d;
    position: relative;
}

/* HEADER */
.header{
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.5)), #ba181b;
    color: white;
    position: relative;
    height: 70px;
    padding: 20px;
}

.header-titulo{
    display: inline-block;
    font-size: 24px;
    font-style: italic;
}

.header-titulo:hover{
    cursor: pointer;
}

nav{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

nav a{
    text-decoration: none;
    margin-left: 20px;
    color: #ba181b;
    background-color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.5s ease;
    display: inline-block;
}

nav a:hover {
    background-color: #ba181b;
    color: white;
    transform: scale(1.09);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/*HERO*/
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../IMG/Fondo hero.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero-p{
    display:inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: 0.5px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

/* MAIN */
.recetario{
    width: 75%;
    position: static;
    margin: auto;
}

.recetario-receta{
    background-color: white;
    color: #ba181b;
    width: 600px;
    margin: 5px;
    left: 50%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px;
}

.receta-imagen{
    height: 350px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul{
    margin-left: 23px;
}

.receta-titulo{
    font-size: 35px;
    padding-bottom: 5px;
}

.receta-ingredientes{
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 5px
}

.receta-precio{
    padding-top: 30px;
    font-size: 20px;
    display: inline-block;
}

.receta-costo{
    background-color: #ba181b;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 30px;
    transition: all 0.5s ease;
    margin-left: 10px;
}

.receta-costo:hover{
    cursor: pointer;
    background-color: white;
    color: #ba181b;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}


/* FOOTER */
footer {
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.5)), #ba181b;
    color: white;
    text-align: center;
    position: relative;
    padding: 30px;
}

.contacto{
    display: inline-block;
}

.mail, .telefono{
    text-decoration: none;
    color: #ba181b;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.mail:hover, .telefono:hover {
    background-color: #ba181b;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.copy{
    margin-top: 20px;
}


